# ===== SQL Server (TenantModule/AppModule) =====
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_SCHEMA=

# ===== Servidor =====
SERVER_PORT=

# ===== Auth / app defaults recomendados =====
NODE_ENV=
JWT_SECRET=
EXPIRES_IN=24h

# ===== Configuraciones del Módulo de Producción =====
PROD_PAQUETE=TRAN
PROD_CONSECUTIVO=TRANS
    
# ===== Configuraciones del Módulo de Traslados Internos =====
TRASLADO_PAQUETE=TLDE
TRASLADO_CONSECUTIVO=TESPECIAL